AGENT_HOST=0.0.0.0
AGENT_PORT=8787
BAMBU_01_NAME=A1
BAMBU_01_MODEL=Bambu Lab A1
BAMBU_01_SERIAL=03919D572417825
BAMBU_01_IP=192.168.68.147
BAMBU_01_ACCESS_CODE=replace-with-lan-access-code
BAMBU_01_SLOT_1_COLOR=#FFFFFF
BAMBU_01_SLOT_1_TYPE=PLA
BAMBU_01_SLOT_2_COLOR=#8B4513
BAMBU_01_SLOT_2_TYPE=PLA
BAMBU_01_SLOT_3_COLOR=#FF0000
BAMBU_01_SLOT_3_TYPE=PLA
BAMBU_01_SLOT_4_COLOR=#808080
BAMBU_01_SLOT_4_TYPE=PLA
